.bubble
{
	height: 17px;
}

.userhelp
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	text-align: center;
	color: #fff;
	padding: 5px 0;
	border-radius: 6px;
	opacity: .8;

	position: absolute;
	top: 100%;
	z-index: 1;
	left: 50%;
	margin-left: -60px;
}

.button:hover .userhelp
{
	visibility: visible;
}

.button .predeterminedhelp
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	text-align: center;
	color: #fff;
	padding: 5px 0;
	border-radius: 6px;
	opacity: .8;

	position: absolute;
	top: 100%;
	z-index: 1;
	left: 50%;
	margin-left: -60px;
}

.button:hover .predeterminedhelp
{
	visibility: visible;
}