.bubble
{
	height: 15px;
	transition: opacity .2;
}

.button .help
{
	opacity: 0;
	width: 180px;
	background-color: white;
	text-align: center;
	color: black;
	font-size: 13px;
	padding: 5px;
	border-radius: 6px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
	z-index: -10;

	position: absolute;

	transform: translateY(2px);
	transition: opacity .2s,transform .2s,z-index .2s;
}

.help.user-location
{
	top: -200%;
	left: 40%;
}

.help.pd-location
{
	top: -250%;
	left: 43%;
}

.help-contain:hover .help
{
	transform: translateY(0px);
	z-index: 10;
	opacity: 1;
	transition: opacity .2s,transform .2s,z-index 0s;
}

.help-contain:hover .bubble
{
	opacity: .5;
}