.bubble
{
	height: 17px;
}

.button .help
{
	visibility: hidden;
	width: 120px;
	background-color: white;
	text-align: center;
	color: black;
	font-size: 10px;
	padding: 5px 0;
	border-radius: 6px;
	opacity: .8;

	position: absolute;
	top: 100%;
	z-index: 1;
	left: 50%;
	margin-left: -60px;
}

.button:hover .help
{
	visibility: visible;
}